@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,700&family=Lobster&family=Nunito&family=Roboto:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.headtext h5 {
    font-size: smaller;
    text-align: center;
    font-family: Roboto;
    display: flex;
}

@media screen and (max-width:995px) {
    
    .headtext h5 {display: none;}
}

@media screen and (max-width:370px) {
    
    .motto {display: none;}
}

@media screen and (max-width:768px) {

    .img-fluid {display: none;}
}

@media screen and (max-width:1000px) {

    .contact-img {display: none;}
    .contact-logo {display: block;}
}

.headtext {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    border-radius: 10px;
}

.logo {
    font-weight:700;
    font-style: italic;
}

.navlink{
    color: rgb(255, 255, 255);
}

.banner-card img {
    width:100%;
    height: auto;
    border-radius: 15px;
}

.banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: xx-large;
}

.motto { 
    font-family: Lobster;
    font-size: larger;
}

.motto i {
    color: rgb(25, 67, 255);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

main h1 {
    text-align: center;
    font-family: Oswald;
}

.flex-container {
    justify-content: space-between;
}

.doc-main img {
    padding: 10px;
}

.contact-img {
    height: 350px;
    width: 500px;
}